.main {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    position: relative;
}

.containerForm {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.containerImg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.containerShape {
    position: absolute;
    z-index: -10;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
}

.shape{
    height: 100%;
    width: 100%;
}

.title {
    font-size: 3.5rem;
    margin-bottom: 5rem;
    color: var(--color-primary);
    text-align: center;
}